<div class="row">
  <div class="col-lg-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t('mapa_camino') %></h3>
      </div>
      <div class="panel-body">
        <%= render 'map' %>
      </div>
    </div>
  </div>
  <div class="col-lg-7">
    <% @deshabilitado = true %>
    <%= render 'form' %>
  </div>
</div>
