// Place all the styles related to the utiliza controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map.utiliza-index {
  height: 100vh;
  min-height: 0;
  max-height: 150px;
}

#map.utiliza-show {
  height: 100vh;
  min-height: 0;
  max-height: 294px;
}
